body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
}

h2 > a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  border: 1px solid #000;
  width: 400px;
  padding: 20px;
}